@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 1.5;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: scroll;
    background-color: themed("bg");
    color:themed("regulartext");

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 10px;

      hr {
        margin: 7px 0px;
        height: 0.5px;
        background-color: themed("border");
        border: none;
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .menuheading {
          font-size: 12px;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}
